<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALL BLOGS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <style>
        .card {
            transition: transform 0.3s ease-in-out;
        }

        .card:hover {
            transform: translateY(-10px);
        }
    </style>
</head>
<body style="background: linear-gradient(to right,#ad5389, #3c1053)">
    <div class="container text-center mb-4">
        <h3 class="display-3 text-info" style="font-weight: 700;"> ALL BLOGS</h3>
       
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for y in y %}
            <div class="col">
                <div class="card"
                    style="background: linear-gradient(45deg, #e6f7ff, #c3e6f5); border-radius: 15px; overflow: hidden; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);">
                    <img src="{{ y.cover_img.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="color: #003366; font-weight: bold; text-transform: uppercase;">{{y.blog_name }}</h5>
                        <!-- <p class="card-text" style="color: #003366;">{{ y.blogcat_description }}</p> -->
                        <a href="{% url 'blog_details' y.id %}" class="btn btn-primary" style="background-color: #0066cc; border: none;">Read more</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>